body {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#output-panel {
	display: none;
}

table.tablesorter {
	width: inherit;
	font-size: 100%;
	font-family: Charis SIL, serif;
}
table.tablesorter td {
	min-width: 5em;
}

#controls {
	float: right;
	width: 40em;
	margin-left: 1em;
}

#controls > textarea {
	width: 100%;
	height: 10em;
}

table tbody > tr:nth-child(odd) > td {
    background-color: #F0F0F6;
}

#cae-warning {
	color: red;
	display: none;
}